@import "../../global.scss";

.menu {
    width: 300px;
    height: 100vh;
    background-color: dimgray;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

    &.active {
        right: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 40px;
        color: white;

        li {
            margin-bottom: 20px;
            a {
                font-size: inherit;
                color: inherit;
                text-decoration: none;
                transition: inherit;
            }
            &:first-child:hover {
                color: #5da2d5; 
                transition: .15s ease;
            }
            &:nth-child(2):hover {
                color: #f78888; 
                transition: .15s ease;
            }
            &:nth-child(3):hover {
                color: #f3d250; 
                transition: .15s ease;
            }
            &:nth-child(4):hover {
                color: #90ccf4; 
                transition: .15s ease;
            }
        }
    }
}