@import"../../global.scss";

.experience {
    color: black;
    background-color: #f3d250;
    display: flex;
    justify-content: space-evenly;

    .left {
        flex: 0.333;
        
        .programming {

            h1 {
                margin-top: 50px;
                font-size: 40px;
                font-weight: 350;
                text-align: center;
            }

            p {
                text-align: center;
                font-size: 19px;
                font-weight: 350;
                margin-top: 30px;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }

    .middle {
        flex: 0.333;

        .leadership {

            h1 {
                margin-top: 50px;
                font-size: 40px;
                font-weight: 350;
                text-align: center;
            }

            p {
                text-align: center;
                font-size: 19px;
                font-weight: 350;
                margin-top: 30px;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }

    .right {
        flex: 0.333;

        .management {

            h1 {
                margin-top: 50px;
                font-size: 40px;
                font-weight: 350;
                text-align: center;
            }

            p {
                text-align: center;
                font-size: 19px;
                font-weight: 350;
                margin-top: 30px;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }
}
