@import "../../global.scss";

.intro {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: vertical;
    position: relative;
    overflow: hidden;
    background-image: url(./desk_blurred.png);
    background-size: cover;
    background-position: right 35% bottom 55%;

    .welcome {
        position: absolute;
        top: 55%;
        left: 60%;
        transform: translate(-50%, -50%);
        font-weight: 300;

        h1 {
            font-size: 90px;
            font-weight: inherit;
            margin-top: 20px;
        }

        h2 {
            font-size: 50px;
            font-weight: inherit;
        }

        h3 {
            font-size: 40px;
            font-weight: inherit;
            margin-top: 20px;

            .ityped-cursor {
                animation: cursor-blink 1s infinite;
            }
        
            @keyframes cursor-blink {
                0% {
                    opacity: 1;
                }
                50% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }

        a {
            position: flex;

            .arrow {
                width: 150px;
                height: 150px;
                color: white;
                margin-top: 30px;
                justify-content: flex-start;
                animation: arrowFade 4s infinite;
            }
            .arrow:hover {
                color: #f78888; 
                transition: .2s ease;
            }

            @keyframes arrowFade {
                0% {
                    opacity: 1;
                }
                50% {
                    opacity: 0.1;
                }
                100% {
                    opacity: 1;
                }
            }
        }
    }
}