.intro {
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    .background {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .welcome {
        position: absolute;
        top: 60%;
        left: 60%;
        transform: translate(-50%, -50%);
        font-weight: 300;

        h1 {
            font-size: 90px;
            font-weight: inherit;
            margin-top: 20px;
        }

        h2 {
            font-size: 50px;
            font-weight: inherit;
        }

        h3 {
            font-size: 40px;
            font-weight: inherit;
            margin-top: 20px;
        }

        a {
            position: flex;

            .arrow {
                width: 150px;
                height: 150px;
                color: white;
                margin-top: 40px;
                animation: arrowFade 4s infinite;
            }
            .arrow:hover {
                color: #f3d250; 
                transition: .2s ease;
            }

            @keyframes arrowFade {
                0% {
                    opacity: 1;
                }
                50% {
                    opacity: 0.1;
                }
                100% {
                    opacity: 1;
                }
            }
        }
    }
}