@import "../../global.scss";

.projects {
    background-color: #f78888;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    @include mobile {
        flex-direction: column;
        justify-content: flex-start;
        overflow: visible;
    }

    .platformer {
        a {
            .container {
                text-align: center;

                .icon {
                    width: 250px;
                    height: 250px;
                    padding-top: 50px;
                    color: white;
                    transition: .4s ease;
                }
            }
        }
        a:hover {
            .container {
                .icon {
                    transition: .4s ease;
                    width: 300px;
                    height: 300px;
                    animation: color-shift 3s infinite;
                }
            }
        }

        h1 {
            text-align: center;
            font-size: 40px;
            font-weight: 350;
        }

        p {
            text-align: center;
            font-size: 19px;
            font-weight: 350;
            padding-left: 100px;
            padding-right: 100px;
            padding-top: 40px;

            @include mobile {
                display: none;
            }
        }
    }

    .portfolio-website {
        a {
            .container {
                text-align: center;

                .icon {
                    width: 250px;
                    height: 250px;
                    padding-top: 50px;
                    color: white;
                    transition: .4s ease;
                }
            }
        }
        a:hover {
            .container {
                .icon {
                    transition: .4s ease;
                    width: 300px;
                    height: 300px;
                    animation: color-shift 3s infinite;
                }
            }
        }

        h1 {
            text-align: center;
            font-size: 40px;
            font-weight: 350;
        }

        p {
            text-align: center;
            font-size: 19px;
            font-weight: 350;
            padding-left: 100px;
            padding-right: 100px;
            padding-top: 40px;

            @include mobile {
                display: none;
            }
        }
    }
}

@keyframes color-shift {
    0% {
        color: white;
    }
    33% {
        color: #5da2d5;
    }
    67% {
        color: #f3d250; 
    }
    100% {
        color: white;
    }
}
