p { font-family: SlateGrey; }

body { background-color: LightSlateGrey }

.hello-message {
    font-family: Monospace; font-size: 70px; color: white;
    position: absolute; top: 20%; left: 45%; transform: translate(-50%, -50%);
    animation: slidein 6s; animation-iteration-count: 1;
}
.name {
    font-family: Monospace; font-size: 70px; color: LightGreen;
    position: absolute; top: 20%; left: 73%; transform: translate(-50%, -50%);
    animation: slidein 6s 1;
}
.name:hover { font-size: 85px; color: orange; cursor: pointer; }

@keyframes slidein {
    0% { margin-top: -20%; }
    50% { margin-top: 60px; }
    100% { margin-top: 0%; }
}

@keyframes changecolor {
    0% { color: Blue; }
    25% { color: Yellow; }
    50% { color: OrangeRed; }
    75% {color: Fuchsia;}
    100% { color: Blue; }
}
