p { font-family: Monospace; }

body { background-image: url('../assets/minimalist-wallpaper.jpg'); background-position: 40% 5%; }

.hello-message {
    font-family: Monospace; font-size: 60px; color: white;

    position: absolute; top: 20%; left: 50%; transform: translate(-50%, -50%);

    animation-duration: 6s; animation-name: slidein; animation-iteration-count: 1;
}

@keyframes slidein {
  0% {
    margin-top: -20%;
  }
  50% {
    margin-top: 60px;
  }
  100% {
    margin-top: 0%;
  }
}
