.menu { font-family: Monospace; font-size: 37px; color: white; }

.menu .projects { position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%); }
.menu .projects-image { position: absolute; top: 35%; left: 41.5%; }
.menu .projects-image img { width: 35%; height: 35%; }
.menu .projects:hover { font-size: 45px; color: orange; cursor: pointer; }

.menu .about { position: absolute; top: 70%; left: 30%; transform: translate(-50%, -50%); }
.menu .about:hover { font-size: 45px; color: orange; cursor: pointer; }
.menu .about-image { position: absolute; top: 36%; left: 22%; }
.menu .about-image img { width: 43%; height: 43%; }

.menu .contact { position: absolute; top: 70%; left: 69%; transform: translate(-50%, -50%); }
.menu .contact-image { position: absolute; top: 39.5%; left: 62.5%; }
.menu .contact-image img { width: 80%; height: 80%; }
.menu .contact:hover { font-size: 45px; color: orange; cursor: pointer; }
